:root{
    --sl-color-gray-6: #27262b;
    --sl-content-width: 85%;
    --sl-color-white: hsl(0, 0%, 97%);
    
}

.index-content{
  text-align: center;
}

h1,h2,h3,h4, .site-title{
  font-weight:400;
}

:root[data-has-sidebar]{
    --__sidebar-pad: calc(20 * var(--sl-nav-pad-x));
}

.wormhole-macro .expressive-code{
  max-width: 400px;
  line-height: 0.5;
}

.dkt-macro{
  min-width: 200px;
  max-width: 10%;
}

h1{ 
    text-align: center;
   
}

.ulti-image{
    height: 100%;
    width:100%;
    border: 1px solid #cccccc;
}

.ulti-name{
    text-align: center;
    font-size:2rem;
}

div.main-pane{
    --sl-content-margin-inline: 5% !important;
}

.content-panel{
    position: relative;
}

.ulti-tooltip{
    float:right;
    max-width: 350px !important;
    max-height: 400px;
}

.starlight-aside__icon{
    display:none !important;
}

.light-pillar-tip aside{
    border-color:rgb(58, 151, 120);
    background: rgb(15, 78, 57);
    --sl-color-asides-text-accent: white;
}

:where(.ucob-sidebar)[aria-current=page],
:where(.ucob-sidebar)[aria-current=page]:hover,
:where(.ucob-sidebar)[aria-current=page]:focus{
  background-color: #ac7522;
  color:white;
}

:where(.uwu-sidebar)[aria-current=page],
:where(.uwu-sidebar)[aria-current=page]:hover,
:where(.uwu-sidebar)[aria-current=page]:focus{
  background-color: #1d5296;
  color:white;
}

:where(.tea-sidebar)[aria-current=page],
:where(.tea-sidebar)[aria-current=page]:hover,
:where(.tea-sidebar)[aria-current=page]:focus{
  background-color: #e2d135;
  
}

:where(.dsr-sidebar)[aria-current=page],
:where(.dsr-sidebar)[aria-current=page]:hover,
:where(.dsr-sidebar)[aria-current=page]:focus{
  background-color: #ce3535;
  color:white;
}

:where(.top-sidebar)[aria-current=page],
:where(.top-sidebar)[aria-current=page]:hover,
:where(.top-sidebar)[aria-current=page]:focus{
  background-color: #741e80;
  color:white;
}

.multi-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align: center;
    position: relative;
    
    
    button {
      flex: 1;
      margin-right:5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      position: relative;
      padding: 1rem 2rem;
      border: 1px solid #f2f2f2;
      border-radius: 6px 6px 6px 6px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1em;
      letter-spacing: 1px;
      box-shadow: 1px 1px 20px rgba(0,0,0,.1);
      color: white;
      background: transparent;
      overflow: hidden;
      cursor: pointer;
      
      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      &::after {
        height: 0;
        
        transition: height .5s ease;
        z-index: -1;
      }
      
      &::before {
        background-color: #323136;
        height: 100%;
        z-index: -2;
      }
      
      &:hover {
        color: #fff;
        transition: 0.1s ease;
        
        &::after {
          height: 100%;
        }
        
      }
      
      
      &:nth-of-type(1)::after {
        background-color: #ac7522;
        border-radius: 6px 0 0 6px;
      }

      &:nth-of-type(2)::after {
        background-color: #1d5296;
        border-radius: 6px 0 0 6px;
      }

      &:nth-of-type(3)::after {
        background-color: #e2d135;
        border-radius: 6px 0 0 6px;
      }

      &:nth-of-type(4)::after {
        background-color: #ce3535;
        border-radius: 6px 0 0 6px;
      }

      &:nth-of-type(5)::after {
        background-color: #741e80;
        border-radius: 6px 0 0 6px;
      }
      
      
    }
  }
  
  @keyframes towhite {
    0%   { color: inherit; }
    100% { color: white; }
  }