:root{
    --sl-color-gray-6: hsl(224, 0%, 20%);
    --sl-color-accent-high: hsl(224, 0%, 85%);
    --sl-nav-pad-x: 25%;
    --sl-content-pad-x: 20%;
    --sl-sidebar-width: 25%;
}

.sidebar-content{
    padding-left:50%;
}