---

---
<style>
    footer {
      padding-top:20px;
      position: fixed;
      left: 0;
      bottom: 0;
      height:100px;
      width: 100%;
      background-color: #2c2b31;
      color: white;
      text-align: center;
      border-top: 1px solid #161616;
    }

    footer p{
       
    }
    </style>
<footer>
  <strong>Want to learn or discuss more? Join the <a href="" target="_blank">NA Ultimate Raiding Discord!</a></strong>
  <p>You can help contribute to this site through Github (PR or Issue) or by DM’ing me on Discord (Tenkay)!</p>
</footer>