---
import { Image } from 'astro:assets';
---

<style>
  footer {
    background-color: var(--sl-color-gray-6);
    color: var(--sl-color-white);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    font-size:1rem;
    margin-left: 0px;
    border-top: 1px solid hsl(224, 10%, 10%);
    padding:5px;
  }
</style>
<footer class="footer">
  <strong>Want to learn or discuss more? Join the <a href="https://discord.gg/CrU4FjbUPY" target="_blank">NA Ultimate Raiding Discord!</a></strong>
  <div class="suggestions-complaints">
    <p> contact me @tenkay on discord</p>
  </div>
  
  </div>
</footer>