---
// Import the Astro global type for props
const props = Astro.props;

interface Props {
  class?: string;
  cols?: string;
}

// Default values and conditional logic for classes
const customClass = props.class ?? "";
const columns = props.cols ? `grid-col-${props.cols}` : "grid-col-2";
---

<div class={`grid gap-4 mb-8 ${customClass} ${columns}`}>
  <slot />
</div>